- name: Login to GHCR
  uses: docker/login-action@v3
  with:
    registry: ghcr.io
    username: ${{ github.actor }}
    password: ${{ secrets.GITHUB_TOKEN }}

- name: Build
  uses: docker/build-push-action@v5
  with:
    push: true
    tags: ghcr.io/it16122512/addons/file_sync:aarch64-1.4.2
    
