name: File Sync SSL
slug: file_sync
version: "1.3.0"
description: "Sync SSL certificates from Nginx Proxy Manager to Asterisk"
url: "https://github.com/it16122512/Add-ons/tree/main/file_sync"
arch:
  - aarch64
  - amd64
  - armv7
build_from:
  amd64: "ghcr.io/home-assistant/amd64-base:3.22"    # Актуально для 2025.11!
  aarch64: "ghcr.io/home-assistant/aarch64-base:3.22"
  armv7: "ghcr.io/home-assistant/armv7-base:3.22"
startup: services
boot: auto
hassio_api: true
host_network: false
map:
  - addon_configs:ro
  - ssl:rw
options:
  source_relative_path: "a0d7b954_nginxproxymanager/letsencrypt/live/npm-8"
  dest_relative_path: "nginxproxymanager/live/npm-1"
  interval_seconds: 300
schema:
  source_relative_path: str
  dest_relative_path: str
  interval_seconds: int
