name: File Sync SSL
version: "1.1.0"
slug: file_sync
description: "Sync SSL certificates from Nginx Proxy Manager to Asterisk"
arch:
  - aarch64
  - amd64
  - armv7
  - i386
startup: services
boot: auto
hassio_api: true
hassio_role: admin
host_network: false

map:
  - addon_configs:ro
  - ssl:rw

options:
  source_relative_path: "a0d7b954_nginxproxymanager/letsencrypt/live/npm-8"
  dest_relative_path: "nginxproxymanager/live/npm-1"
  interval_seconds: 300

schema:
  source_relative_path: str
  dest_relative_path: str
  interval_seconds: int
