name: File Sync SSL
slug: file_sync
version: "1.4.1"
description: "Sync SSL certificates from Nginx Proxy Manager to Asterisk"
url: "https://github.com/it16122512/Add-ons/tree/main/file_sync"

arch:
  - aarch64
  - amd64
  - armv7

# startup: application + init: false — полностью убирает s6-overlay и все suexec ошибки
startup: application
init: false
boot: auto

hassio_api: true
host_network: false

map:
  - addon_configs:ro
  - ssl:rw

options:
  source_relative_path: "a0d7b954_nginxproxymanager/letsencrypt/live/npm-8"
  dest_relative_path: "nginxproxymanager/live/npm-1"
  interval_seconds: 300

# ВНИМАНИЕ: int, float, bool — ОБЯЗАТЕЛЬНО в кавычках!
schema:
  source_relative_path: "str"
  dest_relative_path: "str"
  interval_seconds: "int(60,3600)"   # опционально: ограничение 1–60 минут
  
