# Auto FROM из config.yaml (no ARG — фиксит warning)
FROM $BUILD_FROM

# Пакеты (минимально, как в LaneaLucy ssh)
RUN apk add --no-cache curl coreutils

# Bashio уже в base:3.2.7

# Файлы
COPY rootfs/ /
COPY run.sh /run.sh

# Права
RUN chmod a+x /run.sh \
    /etc/cont-init.d/10-init \
    /etc/services.d/file_sync/run \
    /etc/services.d/file_sync/finish

# Для services: s6-init PID 1 (как в LaneaLucy)
ENTRYPOINT ["/init"]
